body{
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(image/internet-g6a40d4f24_1920.jpg);
}

h1{
    color: rgb(255, 0, 85);
    font-size: 150px;
    font-weight: bolder;
    text-align:center; 
    font-family: fantasy;
}

h2{
    font-family: sans-serif;
    font-size: 70px;
    text-align:center; 
    color: #ffffff; 
}

h3{
    font-family: sans-serif;
    text-decoration: underline;
    font-size: 70px;
    text-align:center;     
    color: #5fbbf8; 
}
h4{
    font-family: sans-serif;
    text-decoration: underline;
    font-size: 70px;  
    text-align:center;      
    color: #98e76a; 
}

h5{
    font-family: sans-serif;
    text-decoration: underline;
    font-size: 70px;
    text-align:center;    
    color: #e93b52; 
}

p{
    font-family: sans-serif;
    font-size: 20px;
    text-align:center;     
    color: #ffffff;
}

.image:hover{
    transform: scale(1.5);
}

.animation{
    animation-name: animation1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.animation2:hover{
    animation-name: animation2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes animation1 {
    0% {transform: translate(30px, 30px);}
  25%  {transform: translate(60px, 60px)}
  50%  {transform: translate(0px, 0px);}
  100% {transform: translate(30px, 30px);}  
}

@keyframes animation2 {
    0% {transform: rotate(0deg);}
  12.5%  {transform: rotate(45deg);}
  25%  {transform: rotate(90deg);}
  37.5% {transform: rotate(135deg);}
  50% {transform: rotate(180deg);}
  62.5%  {transform: rotate(225deg);}
  75%  {transform: rotate(270deg);}  
  87.5% {transform: rotate(315deg);}
  100% {transform: rotate(360deg);}
}
